@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */
@layer base {
  /* Your custom base styles */
  .nav-bg-color {
    background-color: #f1eef8 !important;
    color: black;
    font-size: 12px;
    font-weight: 700;
  }
  .nav-bg-color:focus {
    background-color: white !important;
    border-radius: 15px;
  }
  .bg-gray-800 {
    background-color: #f1eef8 !important;
  }
}

/** Style the placeholder table according to Figma */
.table-placeholder {
}

.table-placeholder thead {
  border: 0.93px solid rgba(85, 86, 90, 0.12); /* #55565A from figma */
}

.table-placeholder th {
  background-color: #FCFCFC; /* colour of the background from figma */
  padding: 10px;
}

.table-placeholder th:first-child {
  border-top-left-radius: 7.45px;
}

.table-placeholder th:last-child {
  border-top-right-radius: 7.45px;
}
